*{
    margin: 0;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 1440px;
}

header {
    font-family: 'Inconsolata', monospace;
    font-size: 24px;
    margin-top: 40px;
    margin-left: 77px;
    color: #333333;
    letter-spacing: -0.08em;
}
main {
    padding-top: 200px;
    display: flex;
    padding-bottom: 340px;
    
}
main aside img {
    max-width: 520px;
    min-width:280px;
    height:auto;
    width: 100%;
    margin: 0px 70px;
    
}
section {
    padding: 10px 0px 0px 50px;
}

section h1 {
    color:#333333;
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    font-size: 54px;
    max-width: 580px;
    letter-spacing: -0.035em;
    padding-bottom: 36px;
    


}

section p {
    font-family: 'Space Mono', monospace;
    font-size: 24px;
    color: #4F4F4F;
    font-weight: 400;
    max-width: 381px;
    padding-bottom: 80px;
    letter-spacing: -0.035em;

}

section a {
    font-size: 14px;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
    background-color: #333333;
    color: white;
    padding: 24px 43px;
    max-width: 150px;

}

footer {
    font-family: 'Montserrat', sans-serif;
    color: #BDBDBD;
    display: flex;
    justify-content:center;
    
}
@media (max-width:420px) {
    body {
        width: 90%;
        margin: 0 auto;
    }
    main {
        padding-top: 100px;
        padding-bottom: 280px;
        display: flex;
        flex-direction: column;
    }
    header {
        margin-left: 10px;
    }
    main aside img {
        margin: 0px 30px;
        max-width: 290px;
        height: auto;
    }
    section {
        padding-left: 20px;
    }
    section h1 {
        font-size: 44px;
    
    }
    section p {
        font-size: 18px;
    }
    footer {
        text-align: center;
    }
}